<section class="home-container">

  <div class="wrap-mosaics">
    <div class="auik-mosaic arrow-top-left">
      <div class="logo"></div>
      <div class="text">
        <div class="style-1">SEMINAIRE DSI</div>
        <div class="style-2">Relais Spa Roissy</div>
        <div class="style-3">18 & 19 septembre 2015
        </div>
      </div>
    </div>

    <div class="auik-mosaic link">
      <a href="" ui-sref="main.listContributors" class="vertical-middle">
        <div class="vertical-middle-wrap text">
          <div class="style-4">
            Who’s
          </div>
          <div class="style-5">
            Who?
          </div>
        </div>
      </a>
    </div>

  </div>


</section>