<am-card ng-repeat="contributor in filterContributors = (contributors  | filter:{firstname:main.searchInput, lastname:main.searchInput})" data="contributor"></am-card>

<div class="no-result" ng-hide="filterContributors.length">
  <article>No result !</article>
</div>

<div class="slider-alphabet vertical with-all">
  <div class="ui-tags">

    <a class="item" href="#">ALL</a>

    <a class="item" href="#">A</a>

    <a class="item" href="#">B</a>

    <a class="item" href="#">C</a>

    <a class="item" href="#">D</a>

    <a class="item" href="#">E</a>

    <a class="item" href="#">F</a>

    <a class="item" href="#">G</a>

    <a class="item" href="#">H</a>

    <a class="item" href="#">I</a>

    <a class="item" href="#">J</a>

    <a class="item" href="#">K</a>

    <a class="item" href="#">L</a>

    <a class="item" href="#">M</a>

    <a class="item" href="#">N</a>

    <a class="item" href="#">O</a>

    <a class="item" href="#">P</a>

    <a class="item" href="#">Q</a>

    <a class="item" href="#">R</a>

    <a class="item" href="#">S</a>

    <a class="item" href="#">T</a>

    <a class="item" href="#">U</a>

    <a class="item" href="#">V</a>

    <a class="item" href="#">W</a>

    <a class="item" href="#">X</a>

    <a class="item" href="#">Y</a>

    <a class="item" href="#">Z</a>

  </div>
</div>