<div class="header-left">
  <a href="" ui-sref="home" class="logo"></a>

  <div class="print print-logo"><img src="/img/logo.png" alt="logo" height="36"></div>
</div>

<div ng-if="false" class="header-search">
  <form class="search-global">
    <input
    type="text"
    class="form-control input"
    ng-model="main.searchInput"
    ng-model-options="{debounce: 300}"
    ng-change="main.search()"
    autofocus>
    <i class="btn clear-search fa fa-close" ng-show="main.searchIcon" ng-click="main.initSearch()"></i>
    <i class="btn search fa fa-search hidden-xs" ng-show="!main.searchIcon"></i>
    <input type="submit" class="form-control btn submit">
  </form>
</div>

<div class="footer-print print">

  <div class="a5 page-end">
    <img src="/print/img/bg/a5/bg-star-wars.jpg">
  </div>

  <div class="a5 page-after-end">
    <img src="/print/img/bg/a5/bg-star-wars-2.jpg">
  </div>
</div>
