.print {
  display: block !important;
}

@page-print-width: 874px;
@page-print-height: 586px;
@page-print-card-width: 198px;

.slider-alphabet,
.page-container-header .header-left,
.page-container-header .header-search {
  display: none !important;
}

.page-container-header {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: none;
  line-height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  height: auto;

  .header-print{
    .a5 {
      width: @page-print-width;
      height: @page-print-height;
      overflow: hidden;
    }
  }
}

.footer-print{
  .a5 {
    width: @page-print-width;
    height: @page-print-height;
    overflow: hidden;
  }
}

.layout-body-center {
  position: relative;
  overflow: auto;
  .header-visible & {
    top: 0;
  }
}

.cards{
  margin: 0;
  padding: 0;
}

.cards-group {
  width: @page-print-width;
  height: @page-print-height;
  overflow: hidden;
  position: relative;
  margin: 0;
  > .cards-group-bg,
  > .cards-group-content{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: @page-print-width;
    height: @page-print-height;
    overflow: hidden;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    display: block;
  }

  > .cards-group-content {
    z-index: 1;
    top: 20px;
    height: @page-print-height - 20;
  }
}

.amk-card {
  width: @page-print-card-width;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.5);

  .avatar {
    overflow: hidden;
    border: 3px solid #3383ce;
    &:before{
      border: 3px solid #ffffff;
    }
  }
}